parameters:
	production: on


extensions:
	leanmapper: JP\LeanMapperExtension\LeanMapperExtension


application:
	errorPresenter: Error
	mapping:
		*: InteveApp\*\Presenters\*Presenter


session:
	expiration: 14 days


leanmapper:
	defaultEntityNamespace: InteveApp\Model\Entity


services:
	router: InteveApp\Router\RouterFactory::createRouter
	formFactory: InteveApp\Forms\FormFactory
